<h1>Liste des posts favoris</h1>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Published by</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @favorites.each do |fav| %>
      <tr>
        <td><%= fav.post.comment %></td>
        <td><%= fav.post.user.name %></td> 
        <td><%= link_to "Show" , post_path(fav.post.id) %></td>
      </tr>     
    <% end %>
  </tbody>
</table>