body{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu;
    margin: 0;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#3b5998;
}
.left{
    text-align: left;
}
.right{
  margin-left: 50px;
}
header ul {
  margin: 0;
}
 header ul a {
    color: white;
    text-decoration: none;
}
header li {
  list-style: none;
  display: inline;
  margin-top: 10px;
  margin-right:5px;
}
.main{
    color:#313437;
    background-color:#fff;
    padding:50px 0;
    align-items: center;
}
.main p{
    color:#7d8285;
}
.main h2{
    font-weight:700;
    margin-bottom:25px;
    line-height:1.5;
    padding-top:0;
    margin-top:0;
    color:inherit;
}
.main .intro, .buttons{
    font-size:16px;
    max-width:500px;
    margin:0 auto 25px
}
button{
    text-align:center;
    padding:16px 32px;
    margin:6px;
    border:none;
    background:#ddd;
    box-shadow:none; 
    text-shadow:none;
    opacity:.9;
    text-transform:uppercase;
    font-weight:700;
    font-size:13px;
    letter-spacing:.4px;
    line-height:1;
    outline:0;
}
nav{
        background-color:#1da1f2;
    }
img{
        max-height:250px;
        margin-right:0px;
        margin-left:10px
    }
footer {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #3b5998;
        font-size: 0.8rem;
        color: #3b5998;
        margin-top: 312px;
        margin-bottom: 0;
    }
footer p {
      font-size:32px;
      display:inline-block;
      color:white;
      margin:0 10px;
      text-align:center;
      line-height:60px;
    } 