// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form{
    width: 396px;
    height: 450px;
    align-items: center;
    border:none;
    border-radius: 0 2px;
    line-height: 2;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 18px;
}